body {
	background-image: url(scp.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
h1{font-size:30px;}

h3{
font-family: 'Agbalumo', sans-serif;
background-color: white;
  }
#rounded-img{
border-radius: 80px;
	    }
img{    
    width: 500px;
    heiht: 800px;
   }
img {
  margin-top:1px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 80px;
  border: 10px solid black;
}
img {
  opacity: 0.8;
}

body {
  background-color:red;
  opacity: 0.9;
     }

tabel, th, td{
		border:1px dotted black;
		color : black;
		}
li{

color: ;
}